/*================================ 
    #RESPONSIVE CSS 
====================================*/

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) {


  .side {
    padding: 50px;
    width: 400px;
  }


  /* Blog */

  .blog-area .blog-items .meta ul li:last-child {
    display: inline-block;
  }

  .blog-area .meta ul li::after {
    display: inline-block;
  }

  .blog-area .comments-area {
    text-align: left;
  }

  .contact-card {
    max-width: 510px !important;
  }
}

/* Max Wide Mobile Layout: 600px. */
@media only screen and (min-width: 600px) and (max-width: 767px) {

  .faq-area .faq-items {
    max-width: 510px !important;
  }

  .faq-area .faq-items .icon i {
    display: none !important;
  }

  .faq-area .faq-items .faq-content {
    padding: 50px 0px;
  }
}

/* Tablet Layout: 768px.*/
@media only screen and (min-width: 768px) and (max-width: 991px) {

  /* Banner */
  body,
  .banner-area,
  .banner-area div {
    height: 100vh;
  }

  /* Features */

  .features-area .single-item {
    margin-top: 30px;
  }

  .features-area .single-item:first-child,
  .features-area .single-item:nth-child(2) {
    margin-top: 0;
  }

  .features-area .single-item .item {
    box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
  }

  .features-area .single-item .item>i {
    opacity: 0.07;
    right: -20px;
    bottom: -20px;
    color: #1273eb;
  }

  /* About */
  .about-area .fixed-shape {
    width: 100%;
  }

  .about-area::after {
    display: none;
  }

  .about-area .about-items .row {
    margin-left: -15px;
  }

  .about-area .info {
    margin-top: 0;
    padding-bottom: 120px;
    padding-top: 50px;
    padding-right: 15px;
  }

  .about-area .thumb {
    height: 400px;
    margin: 0 15px;
    margin-top: 120px;
    margin-bottom: 20px;
  }

  .about-area .thumb .success-rate {
    left: 0;
    bottom: -30px;
    top: auto;
  }

  .about-area .info ul {
    margin-right: 0;
  }

  /* Partners */

  .partner-area .item-box {
    text-align: center;
  }

  .partner-area .item-box::after {
    right: -50%;
  }

  .partner-area .item-box::before {
    right: -24%;
    background-size: contain;
    height: 60%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .partner-area .info {
    padding-right: 15px;
    margin-bottom: 50px;
  }


  /* Services */

  .services-area .services-heading {
    margin-bottom: 45px;
  }

  .services-area .fixed-shape {
    display: none;
  }

  .services-area {
    text-align: center;
  }

  .services-area ul.achivement li {
    display: block;
    margin: 0;
    padding: 0;
    color: #232323;
    float: none;
    margin-bottom: 30px;
  }

  .services-area .right-info {
    text-align: center;
  }

  .services-area ul.achivement {
    float: none;
    display: inline-block;
    margin-top: 30px;
    display: none;
  }

  .services-area ul.achivement li .counter {
    color: #666666;
    justify-content: center;
  }

  .services-area ul.achivement li .medium {
    float: none;
    color: #232323;
  }

  .services-area .services-items .info .bottom {
    justify-content: center;
  }

  .services-area .services-items .info .bottom span {
    display: none;
  }

  .services-area .services-items .info .bottom::after {
    display: none;
  }

  .services-area .services-items .info .bottom a {
    padding-left: 0;
  }

  .services-details-area .features .col-lg-6 {
    margin: 10px 0;
  }

  .default-services-area .item {
    text-align: center;
  }


  /* Projects */

  .projects-area .single-item .info {
    padding-left: 15px;
  }

  .projects-area .single-item .thumb {
    width: 100%;
    max-width: 100%;
    height: 350px;
    margin: 0 15px;
  }

  .projects-area .single-item {
    box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
  }

  .projects-area .single-item .content {
    padding: 50px;
    box-shadow: inherit;
  }

  /* Testimonials */

  .testimonials-area .fixed-shape {
    display: none;
  }

  .testimonials-area {
    text-align: center;
  }

  .testimonials-area .testimonial-items::after {
    display: none;
  }

  .testimonials-area .item {
    padding: 80px;
    background: #ffffff;
    border-radius: 8px;
  }

  .testimonials-area .row>.info {
    padding-left: 15px;
    border: none;
    margin-top: 50px;
  }


  .testimonials-area .item::after {
    top: 65px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
  }

  .testimonials-area .item .provider {
    display: block;
    margin-top: 30px;
  }

  .testimonials-area .item .provider img {
    margin: auto auto 30px;
  }

  .testimonials-area .testimonials-carousel .owl-nav {
    position: inherit;
    right: 0;
    margin-top: 40px;
    bottom: 0;
  }

  /* Our Expertise */

  .expertise-area .info {
    padding-right: 15px;
  }

  .expertise-area .right-info {
    margin-top: 40px;
  }

  .skill-items .progress-box {
    margin-bottom: 30px;
  }

  .expertise-area .expertise-content {
    text-align: center;
  }

  .expertise-area .expertise-content::after {
    background: #000000;
    opacity: 0.6;
    border-radius: 8px;
  }

  /*  */

  .expertise-content {
    height: max-content;
  }

  .expertise-area .expertise-content .expertise-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .expertise-area .expertise-content .item {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 80px 15px 80px;
    width: 100%;
    border-right: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }

  .expertise-area .expertise-content .item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }

  .expertise-content h4 {
    font-weight: 600;
    text-align: center;
    height: auto;
    transition: all 600ms ease-in-out;
  }

  .expertise-CTA {
    position: relative;
    margin-top: 80px;
    bottom: 20px;
    width: max-content;
    align-items: center;
    transition: all 300ms ease-in-out;
    left: 0%;
    transform: translateX(-0%) translateY(0px);
    opacity: 1;
  }

  .expertise-content:hover .expertise-item .item>h4 {
    animation-name: expertise-item;
  }

  @keyframes expertise-item {
    from {
      margin-bottom: 0px;
    }

    to {
      margin-bottom: 0px;
    }
  }

  /* Team */
  .team-area::after {
    display: none;
  }

  .overflow-hidden-box .team-area::after {
    display: inline-block;
  }

  .team-single-area .bottom-info {
    margin-top: 50px;
  }

  .team-single-area .bottom-info .skill-items {
    padding-left: 0;
    margin-top: 30px;
  }

  .team-single-area .team-content-top .right-info {
    padding: 0 15px;
    margin-top: 30px;
  }

  /* Blog */

  .blog-area .thumb .date {
    left: 30px;
    right: auto;
  }

  .blog-area .item .info {
    padding: 30px;
  }

  .blog-area .blog-thin-colums .thumb {
    margin-bottom: 30px;
  }

  .blog-area .blog-items .blog-thin-colums .item {
    padding: 0;
    border: none;
  }

  .blog-area .item .thumb img {
    width: 100%;
  }

  /* Contact */
  .contact-area::before,
  .contact-area::after {
    display: none;
  }

  .contact-area .info .content {
    padding: 50px;
    margin: 0 15px;
  }

  .contact-area .form-box {
    margin: 0 15px;
    margin-top: 30px;
  }

  .contact-area .info .content::after {
    display: none;
  }

  .contact-area .info ul {
    overflow: hidden;
    margin: 0 -15px;
    margin-top: 30px;
  }

  .contact-area .info ul li {
    float: left;
    width: 50%;
    padding: 0 15px;
    margin: 0;
  }


  .contact-us-area .contact-form-box {
    margin-top: 50px;
  }


  /* Footer */

  footer::after {
    display: none;
  }

  footer .footer-top,
  .footer-contact,
  .footer-bottom {
    max-width: 690px;
  }

  .faq-area .faq-items {
    max-width: 720px !important;
  }

  .faq-area .faq-items .icon i {
    display: none !important;
  }

  .faq-area .faq-items .faq-content {
    padding: 120px 0px;
  }

}

/* Min 992px custom layout. */
@media only screen and (min-width: 992px) and (max-width: 1200px) {

  .banner-hero-text .banner-text h2 {
    font-weight: 600;
    font-size: 40px !important;
  }

  .expertise-content h4 {
    height: 120px;
  }

  .contact-card {
    max-width: 930px;
  }

  .faq-area .faq-items {
    max-width: 930px !important;
  }

  footer .footer-top,
  .footer-contact,
  .footer-bottom {
    max-width: 930px;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1420px) {

  .contact-area::before,
  .contact-area::after {
    display: none;
  }

  .contact-area.extra-margin {
    margin: 0;
  }

}

@media only screen and (min-width: 992px) and (max-width: 1520px) {

  .banner-hero-text .banner-text h2 {
    font-weight: 600;
    font-size: 48px;
  }

}

/* Max width layout. */
@media only screen and (max-width: 400px) {

  .banner-hero-text {
    justify-content: center;
    align-items: center !important;
    padding: 15px;
  }

  .banner-overlay {
    backdrop-filter: blur(7px);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%),
      radial-gradient(50.00% 50.00% at 50.00% 50.00%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 100%) !important;
  }

  .features-area .single-item .item {
    text-align: center;
  }

  .features-area .features-content .top {
    display: block;
  }

  .features-area .features-content .top span {
    padding-right: 0;
    margin-bottom: 25px;
    display: block;
  }

  .features-area .features-content .top span::after {
    display: none;
  }

  /* About */
  .about-us-area .about-items .thumb h2 {
    display: none;
  }


  /* Contact */
  .contact-area .info .content {
    text-align: center;
  }

  .contact-area .info ul li {
    display: block;
    margin-top: 30px;
  }

  .contact-area .info ul li i {
    margin-right: 0;
    margin-bottom: 25px;
  }

}

@media only screen and (max-width: 500px) {

  .contact-us-area form {
    padding: 50px 30px;
  }

  .expertise-CTA p {
    width: 70%;
  }

}

@media only screen and (max-width: 600px) {

  .banner-overlay {
    background: radial-gradient(58.03% 58.03% at 50.00% 41.97%, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.60) 70.00%),
                linear-gradient(0deg, rgba(0, 0, 0, 0.40) 34.94%, rgba(0, 0, 0, 0.20) 58.43%, rgba(0, 0, 0, 0.40) 81.53%);
  }

  body h2 {
    font-size: 28px !important;
  }

  .banner-hero-text {
    justify-content: center;
    align-items: flex-end;
    padding: 24px;
  }

  .banner-text {
    text-align: center;
    gap: 20px;
    width: 100%;
  }

  .banner-hero-text .banner-text h2 {
    font-weight: 600;
    font-size: 28px !important;
  }

  .banner-text .banner-details {
    gap: 8px;
  }

  .banner-text .banner-details p {
    justify-content: center;
    font-size: 12px;
    font-weight: 500;
    padding: 6px 12px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.50) 50.52%, rgba(0, 0, 0, 0.00) 100%);
  }

  .banner-text .banner-details p span:first-child {
    display: none;
  }

  .header .logo a img {
    width: 80% !important;
  }

  body,
  .banner-area,
  .banner-area div {
    background-position: calc(100%/4);
  }

  .partner-area .info p {
    text-align: center;
  }

  .default-services-area .services-items p {
    text-align: center;
  }

  .faq-area .faq-items {
    max-width: 510px !important;
  }

  .faq-area .faq-items .faq-content {
    padding: 50px 15px !important;
  }

}

@media only screen and (max-width: 767px) {

  .default-padding {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .default-padding.bottom-less {
    padding-bottom: 20px;
    padding-top: 50px;
  }

  .default-padding-bottom {
    padding-bottom: 50px;
  }

  .default-padding-top {
    padding-top: 50px;
  }

  .site-heading {
    margin-bottom: 40px;
  }

  .site-heading h2 {
    font-size: 36px;
  }

  .owl-carousel.owl-theme .owl-nav {
    display: none;
  }

  /* Banner Area */
  body,
  .banner-area,
  .banner-area div {
    height: 100vh;
  }

  .banner-area .content,
  .banner-area .double-items {
    overflow: hidden;
    padding: 50px 0;
  }

  .banner-area.inc-video a.video-play-button span {
    display: none;
  }

  .banner-area .shape-right-bottom {
    display: none;
  }

  .banner-area .carousel-indicators.right {
    padding: 50px;
    left: 0;
    right: 0;
  }

  .banner-area.text-default h2 {
    font-size: 36px;
    line-height: 1.2;
  }

  .banner-area .top-left-shape {
    display: none;
  }

  .banner-area .shape-thumb {
    margin-right: 0;
    padding-bottom: 100px;
  }

  .banner-area .shape-thumb img {
    padding: 0;
    max-width: 80%;
  }

  .banner-area .carousel-indicators {
    left: 0;
    right: 0;
  }

  .banner-area.inc-video .content {
    padding-bottom: 110px;
  }

  /* Features */

  .features-area .single-item {
    margin-top: 30px;
  }

  .features-area .single-item:first-child {
    margin-top: 0;
  }

  .features-area .single-item .item {
    box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
  }

  .features-area .single-item .item>i {
    opacity: 0.07;
    right: -20px;
    bottom: -20px;
    color: #1273eb;
  }


  /* About */
  .about-area .fixed-shape {
    width: 100%;
  }

  .about-area::after {
    display: none;
  }

  .about-area .about-items .row {
    margin-left: -15px;
  }

  .about-area .info {
    margin-top: 0;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-right: 15px;
  }

  .about-area .thumb {
    height: 350px;
    margin: 0 15px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .about-area .thumb .success-rate {
    left: 0;
    bottom: -30px;
    top: auto;
  }

  .about-area .info ul {
    margin-right: 0;
  }

  .about-area .info li {
    width: 100%;
    margin-top: 30px;
    padding-right: 0;
  }

  .about-area .info li:first-child {
    margin-top: 0;
  }

  /* Choose Us */

  .choose-us-area .item-box .thumb {
    height: 350px;
  }

  .choose-us-area .thumb .transform-text {
    display: none;
  }

  .choose-us-area .info {
    padding-top: 30px;
    padding-left: 0;
    padding-right: 0;
  }

  /* Partners */

  .partner-area .item-box::after {
    right: -50%;
  }

  .partner-area .item-box {
    padding: 50px 0;
    padding-right: 0;
    text-align: center;
  }

  .partner-area .item-box::before {
    right: -24%;
    background-size: contain;
    height: 50%;
    background-repeat: no-repeat;
    background-position: right;
  }

  .partner-area .info {
    padding-right: 15px;
    margin-bottom: 30px;
  }


  /* Business Growth */

  .business-groth-area .lineChart {
    margin-top: 30px;
  }


  /* Testimonials */

  .testimonials-area .fixed-shape {
    display: none;
  }

  .testimonials-area {
    text-align: center;
  }

  .testimonials-area .testimonial-items::after {
    display: none;
  }

  .testimonials-area .item {
    padding: 50px 30px;
    background: #fff;
    border-radius: 8px;
  }

  .testimonials-area .row>.info {
    padding-left: 15px;
    border: none;
    margin-top: 50px;
  }


  .testimonials-area .item::after {
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 100px;
  }

  .testimonials-area .item .provider {
    display: block;
    margin-top: 30px;
  }

  .testimonials-area .item .provider img {
    margin: auto auto 30px;
  }

  /* Projects */

  .projects-area .single-item .info {
    padding-left: 15px;
  }

  .projects-area .single-item .thumb {
    width: 100%;
    max-width: 100%;
    height: 300px;
    margin: 0 15px;
  }

  .projects-area .single-item {
    box-shadow: 1px 4px 20px -2px rgb(0 0 0 / 10%);
  }

  .projects-area .single-item .content {
    padding: 50px 30px;
    box-shadow: inherit;
  }

  /* Team */

  .team-area::after {
    display: none;
  }

  .overflow-hidden-box .team-area::after {
    display: inline-block;
  }

  .team-single-area .team-content-top {
    background: transparent;
    padding: 0;
    box-shadow: inherit;
  }

  .team-single-area .team-content-top .right-info {
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 30px;
  }

  .team-single-area .right-info .social {
    display: block;
  }

  .team-single-area .right-info .social .share-link {
    margin-left: 0;
    margin-top: 25px;
    display: none;
  }

  .team-single-area .bottom-info {
    margin-top: 50px;
  }

  .team-single-area .bottom-info .skill-items {
    padding-left: 0;
    margin-top: 30px;
  }


  /* Services */

  .services-area .services-heading {
    margin-bottom: 45px;
  }

  .services-area .fixed-shape {
    display: none;
  }

  .services-area {
    text-align: center;
  }

  .services-area ul.achivement li {
    display: block;
    margin: 0;
    padding: 0;
    color: #232323;
    float: none;
    margin-bottom: 30px;
  }

  .services-area .right-info {
    text-align: center;
  }

  .services-area ul.achivement {
    float: none;
    display: inline-block;
    margin-top: 30px;
    display: none;
  }

  .services-area ul.achivement li .counter {
    color: #666666;
    justify-content: center;
  }

  .services-area ul.achivement li .medium {
    float: none;
    color: #232323;
  }

  .services-area .services-items .info .bottom {
    justify-content: center;
  }

  .services-area .services-items .info .bottom span {
    display: none;
  }

  .services-area .services-items .info .bottom::after {
    display: none;
  }

  .services-area .services-items .info .bottom a {
    padding-left: 0;
  }

  .services-details-items .services-sidebar {
    padding-left: 15px;
    margin-top: 50px;
  }

  .services-details-area .features .col-lg-6 {
    margin: 10px 0;
  }

  .default-services-area .services-items {
    margin-top: -30px;
    margin-left: 0;
    margin-right: 0;
  }

  .default-services-area .item {
    text-align: center;
  }


  /* Career */

  .earna-career ul.job-list {
    display: none;
  }

  .earna-career .job-lists .item {
    display: block;
  }

  .earna-career .job-lists .item .info {
    padding-right: 0;
  }

  .earna-career .job-lists .item .info h4 {
    margin-bottom: 8px;
  }

  .earna-career .job-lists .item .button {
    margin-top: 15px;
    display: block;
  }

  .earna-career .job-lists .item .info h4 span {
    display: none;
  }

  /* Our Expertise */

  .expertise-area .info {
    padding-right: 15px;
  }

  .expertise-area .right-info {
    margin-top: 40px;
  }

  .skill-items .progress-box {
    margin-bottom: 30px;
  }

  .expertise-area .expertise-content {
    text-align: center;
  }

  .expertise-area .expertise-content::after {
    background: #000000;
    opacity: 0.6;
    border-radius: 8px;
  }


  /*  */

  .expertise-content {
    height: max-content;
  }

  .expertise-area .expertise-content .expertise-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .expertise-area .expertise-content .item {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 80px 15px 80px;
    width: 100%;
    border-right: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }

  .expertise-area .expertise-content .item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
  }

  .expertise-content h4 {
    font-weight: 600;
    text-align: center;
    height: auto;
    transition: all 600ms ease-in-out;
  }

  .expertise-CTA {
    position: relative;
    margin-top: 80px;
    bottom: 20px;
    width: max-content;
    align-items: center;
    transition: all 300ms ease-in-out;
    left: 0%;
    transform: translateX(-0%) translateY(0px);
    opacity: 1;
  }

  .expertise-content:hover .expertise-item .item>h4 {
    animation-name: expertise-item;
  }

  @keyframes expertise-item {
    from {
      margin-bottom: 0px;
    }

    to {
      margin-bottom: 0px;
    }
  }


  /* Blog */
  .blog-area .blog-thin-colums .thumb {
    margin-bottom: 30px;
  }

  .blog-area .blog-items .thumb .date {
    left: 30px;
    right: auto;
  }

  .blog-area .blog-items .meta ul {
    border-top: none;
    padding-top: 0;
  }

  .blog-area .blog-items .meta ul li:last-child {
    display: none;
  }

  .blog-area .meta ul li::after {
    display: none;
  }

  .blog-area .pagi-area .pagination {
    display: block;
  }

  .blog-area .pagi-area .pagination li {
    display: inline-block;
    margin-top: 5px;
  }

  .blog-area .blog-content .post-tags,
  .blog-area .blog-content .share {
    display: block;
    text-align: center;
    padding: 20px 0;
    padding-bottom: 15px;
  }

  .blog-area .blog-content .share .social {
    margin-top: 10px;
  }

  .blog-area .comments-area {
    text-align: center;
  }

  .blog-area .contact-comments .comments {
    margin: 0;
  }

  .blog-area .comments-form {
    margin-top: 50px;
  }

  /* Login/Register */
  form.white-popup-block .login-custom {
    padding-left: 15px;
    border: none;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    margin-top: 30px;
    padding-top: 30px;
  }

  form.white-popup-block .link-bottom {
    text-align: left;
  }



  /* Contact */
  .contact-area::before,
  .contact-area::after {
    display: none;
  }

  .contact-area .info .content {
    padding: 50px 30px;
    margin: 0 15px;
  }

  .contact-area .form-box {
    margin: 0 15px;
    margin-top: 30px;
  }

  #contact.contact-area.extra-margin {
    margin-top: 50px !important;
  }

  .contact-area .info .content::after {
    display: none;
  }

  .google-maps iframe {
    height: 350px;
  }


  .contact-us-area .contact-form-box {
    margin-top: 50px;
  }


  /* Error Page */
  .error-page-area .error-box h1 {
    font-size: 120px;
    line-height: 100px;
  }


  /* Footer */

  footer::after {
    display: none;
  }

  .contact-card form .contact-body .contact-row {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contact-card form .contact-body .contact-row.top input {
    width: 100%;
  }

  footer .footer-top,
  .footer-contact,
  .footer-bottom {
    max-width: 510px;
  }

  footer .footer-top-container {
    padding: 80px 24px 60px;
  }

  .footer-contact-container {
    padding: 0px 24px 60px;
  }

  .faq-area .faq-items .icon i {
    display: none !important;
  }

  .faq-area .faq-items .faq-content {
    padding: 50px 0px;
  }

}

@media only screen and (max-width: 991px) {

  .about-area .fixed-shape {
    top: 0px;
    width: 100%;
  }

  .about-area .accordion .card .card-header h4::after {
    position: absolute;
    left: 0;
    top: 16%;
    transform: translateY(0%);
  }
  

  .banner-hero-text .banner-text h2 {
    font-weight: 600;
    font-size: 34px;
  }

  .banner-text .banner-details p {
    font-size: 13px;
    font-weight: 500;
    padding: 7px 14px;
  }

  /* global reset - start */

  .testimonials-area .testimonial-items .col-lg-5.info {
    padding: 0px !important;
    margin: 0px 0px 50px !important;
    order: 0;
  }

  .testimonials-area .testimonial-items .col-lg-7.testimonials-content {
    order: 1;
  }

  footer .footer-bottom {
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px 20px 0px;
    flex: 0 1 1;
    max-width: 690px;
    padding-top: 24px;
    border-top: 1px solid #ffffff;
  }

  .contact-area.extra-margin {
    margin: 0;
  }

  #contact.contact-area.extra-margin {
    margin-top: 120px;
  }

  .expertise-content:hover .expertise-item .item>h4 {
    margin-bottom: 0px;
  }

  .expertise-content:hover .expertise-item .item {
    border-right: 1px solid rgba(255, 255, 255, 0.8);
  }

  .expertise-content:hover .expertise-item .item:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }

  .expertise-content:hover .expertise-item .item {
    border-right: none;
  }

  .contact-card {
    max-width: 690px;
  }

  footer .footer-bottom::after {
    display: none !important;
  }

}

@media only screen and (max-width: 1520px) {

  /* FAQ */

  .faq-area {
    background: var(--primary);
  }

  .faq-area::after {
    display: none;
  }

  .faq-area .faq-items {
    max-width: 1200px;
  }

  .faq-area .faq-items::after {
    display: none;
  }

  .faq-area .faq-items .icon i {
    right: -7%;
    opacity: 0.07;
  }

  .faq-area .faq-items .fixed-thumb {
    display: none;
  }

  .faq-area .faq-items .faq-content {
    margin-left: 0%;
  }
}

/* Min width layout. */
@media only screen and (min-width: 1200px) {
  .blog-area .blog-items .info {
    height: 328px;
  }
}